<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <% if (type == "user") { %> 
            User Login
        <% } else if (type == "midadmin") { %>
            MidAdmin Login
        <% } else { %>
            Admin Login
        <% } %>
    </title>
</head>
<body>
    <div class="container-fluid bg-primary-site-darker full-height">
        <div class="container ">
            
            <div class="row align-items-center full-height">
                <div class="col-md-8 col-lg-5 col-xl-4 bg-white rounded-curve px-4 px-sm-5 pt-4 pb-2 mx-auto glass-border">
                    
                    <div class="panel-title mb-4">
                        <div class="text-center">
                            <img src="https://iiitl.ac.in/wp-content/uploads/2019/10/Final_Logo_IIITL.png" alt="IIIT Logo" class="img-thumbnail border-0 w-50 h-50">
                        </div>
                        <h2 class="text-center">

                            <% if (type == "user") { %>
                                User Login
                            <% } else if (type == "midadmin") { %>
                                MidAdmin Login
                            <% } else { %>
                                Admin Login
                            <% } %>
                        </h2>
                    </div>   

                    <form method="POST">
                        <div class="mb-3">
                            
                            <input type="email" id="login" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <input type="password" id="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Log In">
                    </form>
                    <div class="mt-3 d-flex justify-content-center border-top pt-2">
                        <th>
                            <td>
                                <a href="/" class="btn btn-link">Home</a>  
                            </td>
                            <td>
                                <a href="/forgotPassword" class="btn btn-link">Forget Password</a>  
                            </td>
                        </th>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function() {
            <% if(error) { %>
                alert("Login failed! Please try again")
            <% } %>
        }
    </script>
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>