<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <form method="POST">
        <div class="form-group mb-2">
            <label>Email</label>
            <input type="email" name="email" class="form-control" />
        </div>
        <div class="form-group mb-2">
            <label>Password</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label>Position</label>
            <select name="position" >
                <option value="HOD">HOD</option>
                <option value="DEAN">DEAN</option>
                <option value="DIRECTOR">DIRECTOR</option>
                <option value="AR">AR</option>
                <option value="DR">DR</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label>Department</label>
            <select name="department" >
                <option value="IT">IT</option>
                <option value="CS">CS</option>
                <option value="MATH">MATHEMATICS</option>
                <option value="NF">non-faculty</option>
            </select>
        </div>
        <input type="submit" value="Sign Up" class="btn btn-primary-site ">
        </form>
</head>
<body>
    
</body>
</html>